.topic_header {
    margin: 10px 20px;
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
}

.topic {
    font-weight: 600;
    font-size: 24px;
    padding: 10px 20px;
}

.topic_filter {
    
}

.posts_container {
    width: 70%;
}

@media screen and (max-width: 700px) {

    .posts_container {
        width: 100%;
    }

}
