.navbar {
    width: 100%;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 69;
    background-color: white;
    display: flex;
    height: 50px;
    border-bottom: gray 1px solid;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
}
.search_box {
    margin: 0 10px;
    width: 600px;
    align-self: center;
}


.logo {
    height: 50px;
}

.burger_menu {
    height: 25px;
    width: 25px;
    margin: 0 10px;
    visibility: hidden;
}

.menu_popup {
    position: fixed;
    z-index: inherit;
    top: 50px;
    right: 10px;
}

@media screen and (max-width: 700px) {
    .burger_menu {
        visibility: visible;
    }
}
